/* 
color 1: #2e0007;
color 2: #fa0025;
color 3: #4287f5;
-colors are still being experimented with! That's why these and the variable colors are different right now.
*/


:root {
    --primary-color: ;
    --secondary-color: #F96167;
    --tertiary-color: #3B4CCA;
    --text-color: #ffffff;

}

* {
    box-sizing: border-box;
}


h1, h2, .navbar-brand, .navbar-collapse, #pokemon-name-title {
    font-family: 'Orbitron', sans-serif;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover , a:focus{
    color: var(--secondary-color);
    cursor: pointer;
}

body {
    background: #990011;
    color: #FCF6F5;
    font-family: 'Roboto', sans-serif;
}


.button {
    background: var(--tertiary-color);
    color: var(--text-color);
    padding: 1em;
    margin: 0.5em;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

.list-item{
    list-style-type: none;
}


#pokemon-modal {
  color: var(--tertiary-color);
}
